* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: CaveatBold;
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: CaveatRegular;
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: GillSansIt;
  src: url(../fonts/GillSans\ Italic.ttf);
}
@font-face {
  font-family: GillSansLi;
  src: url(../fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: GillSans;
  src: url(../fonts/GillSans.ttf);
}
@font-face {
  font-family: LatoBlack;
  src: url(../fonts/Lato-Black.ttf);
}
@font-face {
  font-family: LatoBlackIt;
  src: url(../fonts/Lato-BlackItalic.ttf);
}
@font-face {
  font-family: LatoBold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: LatoBoldIt;
  src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: LatoIt;
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: LatoLi;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: LatoLiIt;
  src: url(../fonts/Lato-LightItalic.ttf);
}
@font-face {
  font-family: LatoReg;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: LatoThin;
  src: url(../fonts/Lato-Thin.ttf);
}
@font-face {
  font-family: LatoThinIt;
  src: url(../fonts/Lato-ThinItalic.ttf);
}
.account {
  background-color: #FFD972;
  height: 740px;
  width: 100%;
  margin-bottom: -75px;
}
.account input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: medium;
  display: block;
  background: transparent;
  border-bottom: 3px solid black;
  margin-bottom: 45px;
  font-family: Lato;
  color: black;
  outline: none;
}
.account ::-webkit-input-placeholder {
  color: black;
  font-size: 12px;
  font-family: Lato;
}
.account .flex-container_account {
  display: flex;
  flex-direction: row;
  width: clamp(600px, 1200px, 100%);
  margin: 0px auto;
  padding-top: 130px;
}
.account .flex-container_account .boxOne_account, .account .flex-container_account .boxTwo_account {
  position: relative;
  left: 150px;
}
.account .flex-container_account .boxOne_account {
  position: relative;
  top: 110px;
  width: 500px;
  height: 500px;
}
.account .flex-container_account .boxOne_account .title {
  font-family: LatoBlack;
  font-size: 26px;
  padding-bottom: 30px;
}
.account .flex-container_account .boxOne_account #logBtn {
  height: 45px;
  width: 210px;
  border: none;
  border-radius: 43px;
  text-align: center;
  border-radius: 43px;
  color: black;
  background-color: #FFD972;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.account .flex-container_account .boxTwo_account {
  left: 180px;
  width: 500px;
  height: 500px;
  padding: 15px;
}
.account .flex-container_account .boxTwo_account .title {
  letter-spacing: 2px;
  font-size: 30px;
  font-family: Lato;
  padding-bottom: 40px;
}
.account .flex-container_account .boxTwo_account .subtext {
  font-family: LatoIt;
  position: relative;
  bottom: -10px;
}
.account .flex-container_account .boxTwo_account #signBtn {
  height: 45px;
  width: 250px;
  border: none;
  border-radius: 43px;
  text-align: center;
  border-radius: 43px;
  color: black;
  background-color: #FFD972;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 738px) {
  .account {
    margin: 0 auto;
    height: 1200px;
    margin-bottom: -110px;
  }
  .account .flex-container_account {
    margin: 0 auto;
    flex-direction: column;
    padding-top: 30px;
  }
  .account .boxOne_account {
    padding-left: 50px;
    padding-top: 30px;
  }
}
@media screen and (max-width: 738px) {
  .account {
    margin: 0 auto;
    height: 1200px;
    margin-bottom: -110px;
  }
  .account .flex-container_account {
    margin: 0 auto;
    flex-direction: column;
    padding-top: 30px;
  }
  .account .boxOne_account {
    padding-left: 50px;
    padding-top: 30px;
  }
}
.container {
  position: absolute;
  right: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.container header {
  margin-left: 120px;
  padding-top: 34px;
  position: relative;
  right: 600px;
}
.container nav {
  z-index: 9999;
  cursor: pointer;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 80px;
}
.container nav a {
  font-family: CaveatRegular;
  color: black;
  text-decoration: none;
  font-size: 25px;
  margin-right: 45px;
  padding-bottom: 45px;
}
.container nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

footer .copyright {
  font-family: LatoIt;
  font-size: 13px;
  height: 70px;
  text-align: center;
  line-height: 70px;
}
footer .footer-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 70px;
  text-align: center;
  cursor: pointer;
}
footer .footer-menu a {
  font-family: LatoIt;
  font-size: 13px;
  text-decoration: none;
  color: black;
}
footer .footer-menu .footer-name {
  margin-right: 45px;
}
footer .footer-menu .recipe-category-name {
  margin-right: 45px;
}
footer .footer-menu .privacy-copyright {
  margin-right: 45px;
}
footer .footer-menu .create-recipe {
  margin-right: 45px;
}
footer .footer-menu .your-recipes {
  margin-right: 45px;
}
footer .social-media {
  display: flex;
  flex-flow: row nowrap;
  height: 70px;
}
footer .social-media .facebook-logo {
  width: 20px;
  margin-right: 30px;
}
footer .social-media .instagram-logo {
  width: 20px;
}

@media screen and (max-width: 738px) {
  #footer {
    margin: 0 auto;
  }
  #footer .footer-menu a {
    font-size: 10px;
  }
}
.content {
  width: 100%;
  height: 750px;
  background-image: linear-gradient(to bottom, rgba(242, 94, 84, 0.8), rgba(242, 94, 84, 0.8)), url(../img/hero\ \(1\).jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: -75px;
}
.content .yellow_circle {
  width: 450px;
  height: 450px;
  background-color: #FFD972;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 120px;
  left: 550px;
}
.content .yellow_circle h2 {
  font-family: Caveat;
  letter-spacing: 2px;
  position: relative;
  bottom: 50px;
  left: 70px;
}
.content .yellow_circle .heroText {
  width: 150px;
  position: relative;
  top: 30px;
  right: 80px;
  text-align: center;
  font-size: 13px;
  font-family: Lato;
}
.content .pink_circle {
  width: 150px;
  height: 150px;
  background-color: #FCBCB8;
  border-radius: 50%;
  position: relative;
  top: 150px;
  margin: 0px 910px;
}
.content .pink_circle p {
  text-align: center;
  width: 100px;
  position: relative;
  top: 60px;
  left: 25px;
  font-family: Lato;
  font-size: 10px;
}

@media screen and (max-width: 738px) {
  .content {
    margin: 0 auto;
  }
  .content .yellow_circle {
    margin: auto;
  }
  .content .pink_circle {
    margin: auto;
  }
}
.formHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(600px, 1200px, 100%);
  margin: 0px auto;
  height: auto;
}
.formHolder input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: medium;
  display: block;
  background: transparent;
  border-bottom: 3px solid black;
  margin-bottom: 85px;
  font-family: Lato;
  color: black;
  outline: none;
}
.formHolder .attachBtn {
  width: 110px;
  height: 40px;
  background-color: #EFA7A7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-family: Caveat;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  margin-top: 275px;
  user-select: none;
  font-weight: bold;
}
.formHolder .addStepBtn, .formHolder .addBtn {
  width: 40px;
  height: 40px;
  background-color: #EFA7A7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  user-select: none;
  font-weight: bold;
}
.formHolder .addStepBtn {
  margin-bottom: 180px;
}
.formHolder .addBtn {
  margin-bottom: 600px;
}
.formHolder .createRecipe, .formHolder .addIngredients, .formHolder .addInstruction {
  display: flex;
  flex-direction: column;
  width: clamp(600px, 1200px, 100%);
  margin: 0px auto;
}
.formHolder .createRecipe .title, .formHolder .addIngredients .title, .formHolder .addInstruction .title {
  font-family: Lato;
  font-size: 16px;
  padding-bottom: 20px;
}
.formHolder .createRecipe .message, .formHolder .addIngredients .message, .formHolder .addInstruction .message {
  font-family: Caveat;
  font-size: 25px;
  padding-bottom: 60px;
}
.formHolder .createRecipe {
  padding-top: 200px;
}
.formHolder .addIngredients {
  padding-top: 50px;
}
.formHolder .addInstruction {
  padding-top: 50px;
}
.formHolder .createRecipeBtn {
  margin: 0 auto;
  width: 400px;
  height: 35px;
  border: none;
  background-color: #EFA7A7;
  border-radius: 20px;
  margin-bottom: 60px;
  font-family: Caveat;
  font-size: 20px;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media screen and (max-width: 738px) {
  .formHolder {
    margin: 0 auto;
    padding: 0 25px;
  }
  .formHolder .addBtn, .formHolder .addStepBtn, .formHolder .attachBtn {
    margin-right: 20px;
  }
}
.formHolder {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(600px, 1200px, 100%);
  margin: 0px auto;
  height: 100%;
}
.formHolder input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-width: medium;
  display: block;
  background: transparent;
  border-bottom: 3px solid black;
  margin-bottom: 85px;
  font-family: Lato;
  color: black;
  outline: none;
}
.formHolder .attachBtn {
  width: 110px;
  height: 40px;
  background-color: #EFA7A7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-family: Caveat;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  margin-top: 275px;
  user-select: none;
  font-weight: bold;
}
.formHolder .addStepBtn, .formHolder .addBtn {
  width: 40px;
  height: 40px;
  background-color: #EFA7A7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  border-radius: 25px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  user-select: none;
  font-weight: bold;
}
.formHolder .addStepBtn {
  margin-bottom: 180px;
}
.formHolder .addBtn {
  margin-bottom: 600px;
}
.formHolder .editRecipe, .formHolder .editIngredients, .formHolder .editInstruction {
  display: flex;
  flex-direction: column;
  width: clamp(600px, 1200px, 100%);
  margin: 0px auto;
}
.formHolder .editRecipe .title, .formHolder .editIngredients .title, .formHolder .editInstruction .title {
  font-family: Lato;
  font-size: 16px;
  padding-bottom: 20px;
}
.formHolder .editRecipe .message, .formHolder .editIngredients .message, .formHolder .editInstruction .message {
  font-family: Caveat;
  font-size: 25px;
  padding-bottom: 60px;
}
.formHolder .editRecipe {
  padding-top: 200px;
}
.formHolder .editIngredients {
  padding-top: 50px;
}
.formHolder .editInstruction {
  padding-top: 50px;
}
.formHolder .editRecipeBtn {
  margin: 0 auto;
  width: 400px;
  height: 35px;
  border: none;
  background-color: #EFA7A7;
  border-radius: 20px;
  margin-bottom: 60px;
  font-family: Caveat;
  font-size: 20px;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media screen and (max-width: 738px) {
  .formHolder {
    margin: 0 auto;
  }
}

.recipe-background {
  background-image: url("../img/recipe-hero.jpg");
  height: 1430px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.your-recipe-background {
  background-image: url("../img/recipe-hero.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.view-recipe-background {
  background-color: white;
}

.food-picture:hover img {
  opacity: .6;
}

.ingredients-content {
  padding-top: 150px;
}

.food-information {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.food-title {
  display: flex;
  flex-flow: row nowrap;
}

.food-title img {
  width: 450px
}

.food-title p {
  font-size: 25px;
  font-family: LatoReg;
  text-orientation: sideways-right;
  writing-mode: vertical-rl;
  text-align: center;
}

.descriptions {
  width: 350px;
  margin-left: 60px;
}

.description-title {
  font-size: 30px;
  font-family: LatoReg;
}

.description-paragraph {
  font-size: 17px;
  font-family: LatoReg;
}

.time {
  font-size: 20px;
  font-family: LatoBlack;
}

.hours-minutes {
  font-size: 20px;
  font-family: CaveatRegular;
}

.servings {
  font-size: 20px;
  font-family: LatoBlack;
}

.serving-amount {
  font-size: 20px;
  font-family: CaveatRegular;
}

.ingredients, .instructions {
  width: 825px;
  margin-top: 44px;
}

.ingredients {
  font-size: 25px;
  font-family: LatoReg;
}

.ingredients-instructions {
  font-size: 20px;
  font-family: CaveatRegular;
}

.instructions {
  font-size: 25px;
  font-family: LatoReg;
}

.cooking-instructions {
  font-size: 20px;
  font-family: CaveatRegular;
}

.edit-recipe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  height: 45px;
  width: 190px;
  background-color: #daa104;
}

.edit-recipe-button p {
  margin-top: 15px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.recipe-content {
  font-family: CaveatBold;
  font-size: 35px;
  margin-top: 120px;
  padding: 2.0em 5.0em;
  display: block;
  margin: 0 auto;
  max-width: 1500px;
}

.recipe-food {
  display: flex;
  flex-flow: row nowrap;
  margin: 50px;
}

.recipe-food img {
  height: 300px;
  border-radius: 20px;
}

.ingredients-direction {
  height: 300px;
  width: 244px;
  background-color: white;
  border-radius: 20px;
}

.ingredients-direction h2 {
  font-size: 20px;
  font-family: LatoReg;
  text-align: center;
  padding-top: 23px;
}

.title-underline {
  border-bottom: 5px solid black;
  width: 130px;
  margin: 0 auto;
}

.ingredients-direction p {
  font-family: LatoReg;
  font-size: 13px;
  padding: 30px 20px 1px;
}

.icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 44px;
}

.icon img {
  width: 30px;
}

.icon p {
  font-family: LatoReg;
}
/*# sourceMappingURL=styles.css.map */
