.recipe-background {
  background-image: url("../img/recipe-hero.jpg");
  height: 1430px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.your-recipe-background {
  background-image: url("../img/recipe-hero.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.view-recipe-background {
  background-color: white;
}