.formHolder{
    position: relative;
    display: flex;
    flex-direction: column;
    width: clamp(600px, 1200px, 100%);
    margin: 0px auto;
    height: 100%;
   
    input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-width: medium;
        display: block;
        background: transparent;
        border-bottom: 3px solid black;
        margin-bottom: 85px;
        font-family: Lato;
        color: black;
        outline: none;
    }

    .attachBtn{
        width: 110px;
        height: 40px;
        background-color: #EFA7A7;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-size: 16px;
        font-family: Caveat;
        border-radius: 25px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        margin-top: 275px;
        user-select: none;
        font-weight: bold;
    }

    .addStepBtn, .addBtn{
        width: 40px;
        height: 40px;
        background-color: #EFA7A7;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 30px;
        border-radius: 25px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        bottom: 5px;
        user-select: none;
        font-weight: bold;
    }
    .addStepBtn{
    margin-bottom: 180px;
    }

    .addBtn{
        margin-bottom: 600px;
    }

.editRecipe,.editIngredients, .editInstruction{
    display: flex;
    flex-direction: column;
    width: clamp(600px, 1200px, 100%);
    margin: 0px auto;

    .title{
        font-family: Lato;
        font-size: 16px;
        padding-bottom: 20px;
    }

    .message{
        font-family: Caveat;
        font-size: 25px;
        padding-bottom: 60px;
    }

}

.editRecipe{
    padding-top: 200px;

}

.editIngredients{
    padding-top: 50px;
}

.editInstruction{
    padding-top: 50px;
}

.editRecipeBtn{
    margin: 0 auto;
    width: 400px;
    height: 35px;
    border: none;
    background-color: #EFA7A7;
    border-radius: 20px;
    margin-bottom: 60px;
    font-family: Caveat;
    font-size: 20px;
    box-shadow: 0px 7px rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

}

@media screen and (max-width: 768px){
    .formHolder{
        margin: 0 auto;

    }
}
