.container {
    position: absolute;
    right: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  
    header {
    margin-left: 120px;
    padding-top: 34px;
    position: relative;
    right: 600px;
  }

  nav {
    z-index: 9999;
    cursor: pointer;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: 80px;


    // Part One of Hamburger Menu Code
    .mainMenu{
      display: flex;
      list-style: none;

      li a {
        display: inline-block;
      }

    }

    .openMenu{
      font-size: 24px;
      margin-right: -60px;
      margin-top: -80px;
      display: none;
      cursor: pointer;
    }

    .closeMenu{
      font-size: 2rem;
      display: none;
      cursor: pointer;
    }
    // End of Part One of hamburger menu code
  
   a {
    font-family: CaveatRegular;
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-right: 45px;
    padding-bottom: 45px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: CaveatRegular;
    font-size: 25px;
    height: 45px;
    width: 190px;
    background-color: #FFD972;
    border-radius: 43px;
    border: none;
    box-shadow: 0px 7px rgb(0, 0, 0, 0.4);
    cursor: pointer;
  }

}
}

 // The responisveness for the hamburger menu to appear
@media (max-width: 768px){
 nav .mainMenu{
        height: 50%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
        background-color: white;
        /* transition top is the animation of the hamburger menu coming from the top of the page */
        display: none;

  }
  

.container nav .mainMenu .closeMenu{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;

}

.container nav .openMenu{
  display: block;
}

header{
  position: fixed;
    top: 0;
    right: 0;
    left: 1;
    margin-right: -140px;
}
}


