.recipe-content {
    font-family: CaveatBold;
    font-size: 35px;
    margin-top: 120px;
    padding: 7.0em 5.0em;
    display: block;
    margin: 0 auto;
    max-width: 1500px;
  
  
  .recipe-food {
    display: flex;
    flex-flow: row nowrap;
    margin: 50px;
  
  
  .recipe-food img {
    height: 300px;
    border-radius: 20px;
  }
  
  .ingredients-direction {
    height: 300px;
    width: 244px;
    background-color: white;
    border-radius: 20px;
  
  
  .ingredients-direction h2 {
    font-size: 20px;
    font-family: LatoReg;
    text-align: center;
    padding-top: 23px;
  }
  
  .title-underline {
    border-bottom: 5px solid black;
    width: 130px;
    margin: 0 auto;
  }
  
  .ingredients-direction p {
    font-family: LatoReg;
    font-size: 13px;
    padding: 30px 20px 1px;
  }
  
  .icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 44px;
  
  
  .icon img {
      width: 30px;
  }
  
  .icon p {
      font-family: LatoReg;
  }
}
}
}
}

.both-recipes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}

.recipe-content h2 {
  margin-left: 55px;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-right: 120px;
}

.buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin-right: 95px;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.buttons a {
  text-decoration: none;
}

.food-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.yourrecip {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  top: 495px;
  left: 145px;
}

.yourrecip button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.secondrecipe {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: absolute;
  top: 495px;
  left: 961px;
}

.secondrecipe button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: CaveatRegular;
  font-size: 25px;
  height: 45px;
  width: 190px;
  background-color: #FFD972;
  border-radius: 43px;
  border: none;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
}

.pilaf {
  margin-top: 108px;
}